.sidenav {
    height: 100%;
    width: 25%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.CategoryImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}